.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.align-center {
    align-items: center;
    justify-content: center;
}




.wrapper {
    position: relative;
    padding: 10px 15px 15px;
    margin-bottom: 5px;
    color: #dbe3e8;
    border: 1px solid whitesmoke;
}

.hero-title .hero-profession {
    flex: 3;
}


.dfk-tavern-link {
    position: absolute;
    top: 3px;
    right: 5px;
}
.dfk-enhancer-about-link {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.hero-scores .tavern-score {
    max-width: 80px;
    max-height: 50px;
    height: 50px;
}
.hero-scores .tavern-score .icon {
    fill: white;
    width: 18px;
}
.hero-scores .tavern-score .score-info .icon {
    width: 12px;
    margin: 3px 3px;
}
.hero-scores .tavern-score .score-info .percentile {
    font-size: 12px;
    font-weight: bold;
}




/* .scores-summary {
    text-align: center;
    padding: 12px 0;
    margin: 0 auto;
} */
/* .scores-summary .wrapper {
    position: relative;
    padding: 10px 15px 15px;
    color: #dbe3e8;
    border: 1px solid whitesmoke;
}
.scores-summary .wrapper .scores-section,
.scores-summary .wrapper .bar-section {
    display: flex;
    flex-direction: row;
}
.scores-summary .wrapper svg {
    fill: whitesmoke;
    width: 15px;
}
.scores-summary .wrapper .awards-bar {
    background-color: rgba(255,255,255,.2);
    border-radius: 2px;
} */




/* .tavern-score .percentile {
    font-weight: bold;
    text-align: right;
    padding: 0 5px;
    line-height: 20px;
}
.tavern-score .ranking {
    font-size: 12px;
    color: lightgray;
}
.tavern-score .profession-icon-wrapper {
    text-align: left;
}




.profession-section .profession-title {
    width: 100%;
    text-transform: capitalize;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}
.profession-section .profession-scores {
    padding-left: 10px;
} */


.separator {
    width: 85%;
    margin: 10px auto 5px;
    color: lightgray;
    opacity: 0.2;
    height: 3px;
}
