.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.column.two {
    flex: 2;
}
.column.three {
    flex: 3;
}
.column.four {
    flex: 4;
}
.align-center {
    align-items: center;
    justify-content: center;
}


.greeneGene {
    color: green;
}
.blueGene {
    color: dodgerblue;
}
.purpleGene {
    color: purple;
}


.wrapper {
    position: relative;
    padding: 10px 15px 15px;
    margin-bottom: 5px;
    color: #dbe3e8;
    border: 1px solid whitesmoke;
}

.hero-title .hero-profession {
    margin: auto 10px auto 5px;
}
.hero-title .hero-profession .profession-name {
    flex: 4;
    text-transform: capitalize;
    text-align: left;
}
.hero-title .hero-profession .hero-stat {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    border: 1px solid white;
    padding: 1px;
    width: 25px;
    margin-left: 10px;
}


.dfk-tavern-link {
    position: absolute;
    top: 0px;
    right: 4px;
}
.dfk-tavern-link .icon {
    fill: white;
    width: 12px;
}
.dfk-enhancer-about-link {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.hero-scores .tavern-score {
    max-width: 80px;
    max-height: 50px;
    height: 50px;
    margin: 0 auto;
}
.hero-scores .tavern-score .icon {
    fill: white;
    width: 18px;
}
.hero-scores .tavern-score .score-info .icon {
    width: 12px;
    margin: 3px 3px;
}
.hero-scores .tavern-score .score-info .percentile {
    font-size: 12px;
    font-weight: bold;
}

.tooltip-content-title {
    border: 1px solid white;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.tooltip-content-title span {
    width: 50%;
    text-align: left;
}

.tooltip-content-title .rank-number {
    width: 50%;
    text-align: right;
    font-weight: bold;
}

.tooltip-content-table {
    margin-top: 10px;
    min-width: 300px;
}

.tooltip-content-table span {
    text-align: left;
    font-size: 14px;
    width: 100%;
    display: inline-block;
}

.tooltip-content-table table {
    text-align: left;
    font-size: 12px;
    width: 100%;
}

.tooltip-content-table table th {
    text-transform: capitalize;
}

.profession-stat-affin {
    outline: 1px solid gray;
}

.hero-profession .profession-awards {
    display: inline-block;
    margin-left: 5px;
}

.separator {
    width: 85%;
    margin: 10px auto 5px;
    color: lightgray;
    opacity: 0.2;
    height: 3px;
}
